Repository kgelinas/Mysa_HA: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, pytest, mypy

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - custom_components/mysa

pytest:
  name: pytest
  entry: pytest
  language: system
  pass_filenames: false

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --explicit-package-bases

Release v0.9.1-beta1: In-Floor fixes (TrackedSensor), Sensor Mode Selector, robust JSON parsing, 100% Coverage, and translation updates
  .github/workflows/build_tool.yml
  .gitignore
  CHANGELOG.md
  README.md
  custom_components/mysa/client.py
  custom_components/mysa/const.py
  custom_components/mysa/device.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa/realtime.py
  custom_components/mysa/select.py
  custom_components/mysa/strings.json
  custom_components/mysa/translations/de.json
  custom_components/mysa/translations/en.json
  custom_components/mysa/translations/es.json
  custom_components/mysa/translations/fr.json
  custom_components/mysa/translations/it.json
  custom_components/mysa/translations/nl.json
  custom_components/mysa/translations/pt.json
  custom_components/mysa_extended/manifest.json
  docs/CONFIGURATION.md
  docs/MYSA_DEBUG.md
  tests/test_api.py
  tests/test_client.py
  tests/test_climate.py
  tests/test_coverage_gap.py
  tests/test_device_logic.py
  tests/test_edge_cases.py
  tests/test_number.py
  tests/test_select.py
  tests/test_sensor.py
  tests/test_switch.py
  tools/mysa_debug.py
  tools/mysa_debug.spec
Due: pylint, pytest, mypy

Bump v0.9.1-beta2: Fix ghost devices, MQTT loop, infloor rounding
  .gitignore
  CHANGELOG.md
  README.md
  custom_components/mysa/client.py
  custom_components/mysa/climate.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_mqtt.py
  custom_components/mysa/readings.py
  custom_components/mysa/realtime.py
  custom_components/mysa_extended/manifest.json
  docs/MYSA_DEBUG.md
  docs/MYSA_PROTOCOL.md
  mysa_debug.spec
  tests/test_client.py
  tests/test_climate.py
  tests/test_mqtt.py
  tests/test_readings.py
  tests/test_realtime.py
  tools/mysa_debug.py
  tools/requirements.txt
Due: pylint, pytest, mypy

Release v0.9.1: Consolidate beta releases and finalize version
  CHANGELOG.md
  README.md
  custom_components/mysa/manifest.json
  custom_components/mysa_extended/manifest.json
Due: none

first draft of HVAC MQTT Shadow Protocol
  docs/MQTT_HVAC_SHADOW.md
Due: none

all codes / settings captured
  docs/MQTT_HVAC_SHADOW.md
Due: none

every common codes checked.
  docs/MQTT_HVAC_SHADOW.md
Due: none

telemetry finding for HVAC models
  .pre-commit-config.yaml
  docs/MQTT_HVAC_SHADOW.md
Due: none

docs: Update terminology for Mysa device types to be more specific across all documentation files.
  README.md
  docs/API_REFERENCE.md
  docs/BACKEND_API.md
  docs/CONFIGURATION.md
  docs/MQTT_HVAC_SHADOW.md
  docs/MQTT_REFERENCE.md
  docs/MYSA_DEBUG.md
  docs/MYSA_PROTOCOL.md
Due: none

Update for beta 3 version: ST-V1 HVAC capabilities parsing, batch state endpoint, and docs
  CHANGELOG.md
  README.md
  custom_components/mysa/capabilities.py
  custom_components/mysa/client.py
  custom_components/mysa/manifest.json
  custom_components/mysa_extended/manifest.json
  docs/API_REFERENCE.md
  docs/MQTT_HVAC_SHADOW.md
  tests/test_capabilities.py
  tests/test_client.py
  tests/test_realtime.py
Due: pylint, pytest, mypy

Add new thermostat controls, enhance real-time update parsing, and enable type hinting.
  CHANGELOG.md
  README.md
  custom_components/mysa/binary_sensor.py
  custom_components/mysa/climate.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa/number.py
  custom_components/mysa/py.typed
  custom_components/mysa/realtime.py
  custom_components/mysa/select.py
  custom_components/mysa/sensor.py
  custom_components/mysa/strings.json
  custom_components/mysa/switch.py
  custom_components/mysa/translations/de.json
  custom_components/mysa/translations/en.json
  custom_components/mysa/translations/es.json
  custom_components/mysa/translations/fr.json
  custom_components/mysa/translations/it.json
  custom_components/mysa/translations/nl.json
  custom_components/mysa/translations/pt.json
  custom_components/mysa/update.py
  custom_components/mysa_extended/manifest.json
  tests/test_api.py
  tests/test_realtime.py
Due: pylint, pytest, mypy

fix: Prevent ST-V1 thermostat telemetry, such as humidity, from freezing due to aggressive timestamp staleness checks during HTTP polls that overlap with fresher AWS Shadow updates.
  CHANGELOG.md
  README.md
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa_extended/manifest.json
  tests/test_api.py
Due: pylint, pytest, mypy

feat: Improve AC-V1 discovery by aggregating fan and swing modes across all HVAC modes and refine shadow version staleness checks.
  CHANGELOG.md
  README.md
  custom_components/mysa/climate.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa_extended/manifest.json
  tests/test_api.py
Due: pylint, pytest, mypy

Release v0.9.2-beta7
  CHANGELOG.md
  README.md
  custom_components/mysa/client.py
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa_extended/manifest.json
  tests/test_api.py
  tests/test_client.py
  tests/test_climate.py
  tests/test_realtime.py
  tests/test_select.py
Due: pylint, pytest, mypy

Release v0.9.2-beta8
  CHANGELOG.md
  README.md
  custom_components/mysa/client.py
  custom_components/mysa/climate.py
  custom_components/mysa/manifest.json
  custom_components/mysa/mysa_api.py
  custom_components/mysa/mysa_auth.py
  custom_components/mysa/number.py
  custom_components/mysa/sensor.py
  custom_components/mysa_extended/manifest.json
  tests/test_api.py
  tests/test_auth.py
  tests/test_climate.py
  tests/test_number.py
  tests/test_sensor.py
Due: pylint, pytest, mypy

docs: release v0.9.2-beta8 with AC mode realignment and KeyID discovery
  CHANGELOG.md
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
  docs/AC_KEYIDS_AND_MAPPINGS.md
  docs/API_REFERENCE.md
  docs/MQTT_REFERENCE.md
  tests/test_api.py
  tests/test_climate.py
  tests/test_optimistic.py
  tests/test_select.py
Due: pylint, pytest, mypy

chore: release v0.9.2-beta9 with AC mode realignment and KeyID discovery
  CHANGELOG.md
  README.md
  custom_components/mysa/manifest.json
Due: none

chore: release v0.9.2-beta9 with dual manifest update and AC fixes
  custom_components/mysa_extended/manifest.json
Due: none

chore: release stable v0.9.2
  CHANGELOG.md
  README.md
  custom_components/mysa/manifest.json
  custom_components/mysa_extended/manifest.json
Due: none

fix: correct C/F unit handling for legacy (INF-V1/BB) devices
  custom_components/mysa/climate.py
Due: pylint, pytest, mypy

fix: expose device setpoint limits on MysaClimate and Number sliders
  custom_components/mysa/climate.py
  custom_components/mysa/number.py
  tests/test_climate.py
Due: pylint, pytest, mypy

Add schedule control: Schedule/Hold presets + hold_until service
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
  custom_components/mysa/mysa_api.py
  custom_components/mysa/services.yaml
  custom_components/mysa/strings.json
  custom_components/mysa/translations/en.json
Due: pylint, pytest, mypy

Restrict hold_until service to schedule-capable thermostats
  custom_components/mysa/climate.py
Due: pylint, pytest, mypy

fix(realtime): recover from silent MQTT freeze via data-only watchdog
  custom_components/mysa/const.py
  custom_components/mysa/mysa_api.py
  custom_components/mysa/realtime.py
  tests/test_api.py
  tests/test_realtime.py
Due: pylint, pytest, mypy

fix(climate): deadband current_temperature to stop floor-sensor write storms
  custom_components/mysa/climate.py
  tests/test_climate.py
Due: pylint, pytest, mypy

Add AC_KEY_SWING_V_TOGGLE and AC_KEY_SWING_V_OFF as discovery V.Swing keys for core modes
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
Due: pylint, pytest, mypy

Add AC_KEY_SWING_K as another discovery swing key
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
Due: pylint, pytest, mypy

Rename AC_SWING_VERTICAL to AC_SWING_STILL for better representation
  custom_components/mysa/climate.py
  custom_components/mysa/const.py
Due: pylint, pytest, mypy

Horizontal swing: only populate options if horizontal_swings is available.
  custom_components/mysa/select.py
Due: pylint, pytest, mypy

Validate if horizontal swing is supported before adding the entity
  custom_components/mysa/select.py
Due: pylint, pytest, mypy

Update device.py to support Beta V3 thermostats
  custom_components/mysa/device.py
Due: pylint, pytest, mypy

Fix legacy BB and INF telemetry refresh
  custom_components/mysa/__init__.py
  custom_components/mysa/client.py
  custom_components/mysa/device.py
Due: pylint, pytest, mypy

Document independent HTTP refresh
  README.md
Due: none

Add legacy telemetry refresh regression tests
  tests/test_legacy_refresh.py
Due: pytest, mypy

Path conditions:
  pylint: any of: \.py$, but not: ^(tests|tools)/
  pytest: any of: \.py$
  mypy: any of: \.py$, but not: ^tools/
